In [24]:
import numpy as np
import pandas as pd

# desafio control de flujo

### d1

In [4]:
arreglo1 = np.linspace(1,50, dtype= int)

In [5]:
arreglo1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [6]:
arreglo2 = np.linspace(50,150, dtype= int)

In [10]:
arreglo2

array([ 50,  52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,
        76,  78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 101,
       103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127,
       129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 150])

### d2

In [11]:
for i in arreglo1:
    if i%2 ==0:
        print('el numero es par: ',i)
    else:
        print('el numero es impar: ',i)

el numero es impar:  1
el numero es par:  2
el numero es impar:  3
el numero es par:  4
el numero es impar:  5
el numero es par:  6
el numero es impar:  7
el numero es par:  8
el numero es impar:  9
el numero es par:  10
el numero es impar:  11
el numero es par:  12
el numero es impar:  13
el numero es par:  14
el numero es impar:  15
el numero es par:  16
el numero es impar:  17
el numero es par:  18
el numero es impar:  19
el numero es par:  20
el numero es impar:  21
el numero es par:  22
el numero es impar:  23
el numero es par:  24
el numero es impar:  25
el numero es par:  26
el numero es impar:  27
el numero es par:  28
el numero es impar:  29
el numero es par:  30
el numero es impar:  31
el numero es par:  32
el numero es impar:  33
el numero es par:  34
el numero es impar:  35
el numero es par:  36
el numero es impar:  37
el numero es par:  38
el numero es impar:  39
el numero es par:  40
el numero es impar:  41
el numero es par:  42
el numero es impar:  43
el numero es par:  44
el numero es impar:  45
el numero es par:  46
el numero es impar:  47
el numero es par:  48
el numero es impar:  49
el numero es par:  50

### d3

In [19]:
contador1=0
contador2=0
contador3=0
contador4=0

for i in arreglo2:
    if i%2 ==0 or i%3 ==0:
        contador1 += 1
        
    if i%2 ==0 and i%3 ==0:
        contador2 += 1
    
    if i%3 ==0 and i%2 != 0:
        contador3 += 1
    
    if i%3 != 0 and i%2 != 0:
        contador4 += 1

print('hay {} numeros que son divisible por 2 o 3'.format(contador1))
print('hay {} numeros que son divisible por 2 y 3'.format(contador2))
print('hay {} numeros que son divisible por 3 y no por 2'.format(contador3))
print('hay {} numeros que no son divisibles por 2 ni 3'.format(contador4))

hay 34 numeros que son divisible por 2 o 3
hay 9 numeros que son divisible por 2 y 3
hay 8 numeros que son divisible por 3 y no por 2
hay 16 numeros que no son divisibles por 2 ni 3

### d4

In [21]:
for i in range(100):
    print(i**2)
#la i esta mayuscula por lo que el ciclo no la reconoce

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

### d5

In [25]:
df = pd.read_csv('flights.csv')

In [36]:
media_pasajeros = np.mean(df['passengers'])

In [32]:
df['underperforming']= 0

In [51]:
for index, rowserie in df.iterrows():
    if rowserie['passengers']< media_pasajeros:
        df.set_value(index,'underperforming', 1)

C:\Users\egonz\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
objeto = df[df['underperforming']==1]['month']

In [59]:
objeto.value_counts()

February     8
November     8
January      8
October      8
March        7
June         7
December     7
April        7
August       7
May          7
July         7
September    7
Name: month, dtype: int64

### d6

In [63]:
desviacion_estandar = np.std(df['passengers'])

In [65]:
df['outlier']= 0

In [66]:
cont=0
for index, rowserie in df.iterrows():
    if rowserie['passengers']<(media_pasajeros-desviacion_estandar) or rowserie['passengers']>(media_pasajeros+desviacion_estandar
                                                                                                ):
        df.set_value(index,'outlier', 1)
        cont +=1
print('hay {} casos extremos '.format(cont))

hay 53 casos extremos

C:\Users\egonz\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """