# Desafio1- Introduccion al ambiente de trabajo

### Esteban Gonzalez Amigo

### D1 Hola mundo

In [1]:
print('Hola Mundo, esta es mi primera incursión en Python')

Hola Mundo, esta es mi primera incursión en Python

### D2 Ingreso de variables

In [2]:
nombre = 'esteban'
edad = 27
actividades_favoritas = ['comer','dormir','viajar']
mascotas = True

### D3 Imprimiendo Variables

In [3]:
nombre, edad, actividades_favoritas[1], mascotas

('esteban', 27, 'dormir', True)

In [4]:
actividades_favoritas[1]

'dormir'

In [5]:
type(nombre), type(edad),type(actividades_favoritas), type(mascotas)

(str, int, list, bool)

In [6]:
print("Me llamo", nombre, ",tengo", edad, "años y mis actividades favoritas son:",actividades_favoritas)

Me llamo esteban ,tengo 27 años y mis actividades favoritas son: ['comer', 'dormir', 'viajar']

### D4

In [7]:
print('Estaba la pájara pinta sentada en el verde limón')
#le falta la comilla al final de texto

Estaba la pájara pinta sentada en el verde limón

In [8]:
print('Mi nombre es' ,nombre, 'y tengo',edad, 'años')
#falta un nombre de variable existente y 3 comas

Mi nombre es esteban y tengo 27 años

In [9]:
import pandas as pd #pandas esta mal escrito

In [10]:
import numpy as np #esta mal escrito numpy

In [11]:
Ornitorrinco = 0
#"Ornitorrinco" + 45 # hay que inicializar ornitorrinco y excribirlo sin comillas
Ornitorrinco +45

45

### D5 Utilizando pandas y numpy

In [12]:
df = pd.read_csv('flights.csv')

In [13]:
df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [14]:
df[139:]

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

August       0.083333
January      0.083333
April        0.083333
July         0.083333
May          0.083333
February     0.083333
March        0.083333
September    0.083333
June         0.083333
December     0.083333
October      0.083333
November     0.083333
Name: month, dtype: float64

In [15]:
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [16]:
df['month'].value_counts()

August       12
January      12
April        12
July         12
May          12
February     12
March        12
September    12
June         12
December     12
October      12
November     12
Name: month, dtype: int64

In [17]:
df['year'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [18]:
v1= df.head(15)

In [19]:
v2 =df[129:144]

In [20]:
np.mean(df['passengers'])

280.2986111111111

In [21]:
np.median(df['passengers'])

265.5

In [22]:
np.std(df['passengers'])

119.54904153277148

In [23]:
np.mean(df['passengers'][15])
#el promedio de los primeros 15 pasajeros es 135

135.0

In [24]:
np.mean(df['passengers'][129:])
#el promedio de los ultimos 15 pasajeros (desde el 129 al 144-1) es 459.2

459.2

In [25]:
np.median(df['passengers'][15])
#la mediana de los primeros 15 pasajeros es 135.0

135.0

In [26]:
np.median(df['passengers'][129:])
#la media de los ultimos 15 pasajeros (desde el 129 al 144-1) es 432.0

432.0

In [27]:
np.std(df['passengers'][15])
#la desviacion estandar de los primeros 15 pasajeros es 0.0

0.0

In [28]:
np.std(df['passengers'][129:])
#la desviacion estandar de los ultimos 15 pasajeros (desde el 129 al 144-1) es 75.29426715671431

75.29426715671431